.popupdiv{
	position: absolute; height: 400px; overflow-x:hidden; overflow-y:auto;
	ul {
		margin: 0px; padding:0px;
		li {
			background: #3A3A3A; border-bottom:1px solid #000; padding: 10px; color: #fff; list-style: none;
			display:flex;
		}

	}
}


.searchpanel{
	color: #999;
	ul li:hover{
			background-color:#333;
	}
}
.searchdrop{
	position: absolute; 
	z-index: 3; 
	max-height: 200px; 
	height: auto; 
	overflow-y:auto; 
	background-color: #fafafa;
	width: 98%;
	ul{
		margin:0px; 
		padding: 0px; 
		list-style: none; 
		width: inherit;
		width: 100%;
		li{
			display:block;
			clear:both;
			border-bottom: 1px solid #eee;
			margin-bottom: 1px;
			width: 100%;
			color: #000;
			&:last-child{
				border-bottom: none;
				margin-bottom: 0;
			}
			dd{
				padding: 2px 10px;
			}
			&:hover{
				background: rgba(58,58,58,0.8);
				dd{
					color: #fafafa;
				} 
			}
		}
	}
}

.search-component, .publish-component{
	.nav-tabs{
		border-bottom: none;
	}
	.navbar{
		border: none;
		margin-bottom: 0;
		.navbar-collapse{
			padding: 0;
		}

		.navbar-toggle{
			padding: 0;
			border: none;
			background: none;
			box-shadow: none;
			margin-top: 10px;
			margin-bottom: 0;
			margin-left: 10px;
			.icon-bar{
				background-color: #b2b2b2;
				box-shadow: none;
				width: 28px;
				margin-bottom: 6px;
			}
			
		}
		a.navbar-toggle{
			font-family: Open Sans;
			font-size: 20px;
			margin-top: 5px;
			margin-left: 0;
		}
	}
	.link-text{
		color: #4791ce;
	}
	.btn-download{
		padding: 5px 12px;
		width: 150px;
		background: #507b45;
		color: #a6a6a6;
		border-radius: 0;
		border: none;

		&:hover{
			background: #5a864f;
			color: #dcdcdc;
		}
	}
	.btn-col:after {
	    font-family: "Glyphicons Halflings";
	    content: "\e114";
	    float: right;
	    margin-left: 15px;
	  }
	  /* Icon when the collapsible content is hidden */
	  .btn-col.collapsed:after {
	    content: "\e080";
	  }
	.footer-list{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			margin: 0;
			padding: 0;
			color: #696969;
			&:hover{
				background: none;
			}
			.fa, .icon-Downloads, .icon-LastUpdated, .icon-Like{
				color: #7a7a7a;
				font-size: 16px;
				vertical-align: middle;
			}

		}
	}
	.nav-tabs{
		li{
			width: 25%;
			text-align: center;
			a{
				background-color: #282828;
				padding: 7px 15px;
				color: #555555;
				margin-right: 0;
				border-radius: 0;

				&:hover{
					background-color: #424242;
					color: #e2e2e2;
					border-color: #424242;
					border-radius: 0;
				}
				h4{
					font-size: 25px;
					font-family: Open Sans;
					font-weight: 300;
				}
				
			}
			&.active{
				a{
					background-color: #424242;
					color: #e2e2e2;
					border-color: #424242;
					border-radius: 0;
				}
			}
			
			
		}
	}
	.search-left-panel{
		background-color: #212121;
		padding: 5px;
		.row{
			margin: 0;
		}
		.search-input-group{
			//min-height: 106px;

			.input-group{
				margin-bottom: 10px;

				.fa-sort-desc{
					float: right;
					color: #8b8b8b;
				}
				.btn-show{
					margin-left: 30px;
					width: calc(100% - 30px);
				}
				.form-control{
					color: #4b4b4b;
				}
			}

			.search-box{
				font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
			}
		}
		.searchpanel{
			.left-panel-title{
				max-width: 260px;
				word-wrap: break-word;
			}
			.ptitle{
				font-size: 16px;
				font-weight: 600;
				line-height: 1.2;
			    word-wrap: break-word;
			}
			ul{
				margin:0px; 
				padding: 0px; 
				list-style: none; 
				width: inherit;

				.listdisplay{
					display:block;
					clear:both;
					min-height: 150px;
					background: #3a3a3a;
					margin-bottom: 3px;
					padding:10px;

					.asset-content{
						padding: 0;

						img{
							height: 80px;
							width: 80px;
							margin-right: 10px;
						}
						
						dd{
							color: #9b9b9b;
						}

						&:after{
							content: '';
							width: calc(100% - 90px);
							height: 2px;
							background: #404040;
							position: absolute;
							right: 0;
							bottom: 0;
						}
						
					}
					.asset-footer{
						padding: 10px 0;
						
					}

					&.active{
						-webkit-box-shadow: inset 0px 0px 0px 1px rgba(109,109,109,1);
						-moz-box-shadow: inset 0px 0px 0px 1px rgba(109,109,109,1);
						box-shadow: inset 0px 0px 0px 1px rgba(109,109,109,1);
						background: #2f2f2e;
					}
				}
			}
		}
	}

	.search-right-panel{
		height:78vh; 
		overflow-y:auto; 
		background:#2f2f2e; 
		color: #9a9a9a;
		.right-margin-top{
			margin-top: 20px;
		}
		.checkbox-custom:checked + .checkbox-custom-label:before {
			content: "\f00c";
		    font-family: 'FontAwesome';
		    color: #929292;
		    font-weight: 300;
		    font-size: 13px;
		}
		.checkbox-custom {
		    opacity: 0;
		    position: absolute;   
		}

		.checkbox-custom, .checkbox-custom-label{
		    display: inline-block;
		    vertical-align: middle;
		    cursor: pointer;
		    font-weight: normal;
		    white-space: nowrap;
		}

		.checkbox-custom-label {
		    position: relative;
		}

		.checkbox-custom + .checkbox-custom-label:before {
		    content: '';
		    background: transparent;
		    border: 1px solid #929292;
		    display: inline-block;
		    vertical-align: middle;
		    width: 20px;
		    height: 20px;
		    margin-right: 10px;
		    text-align: center;
		}
		.nav-pills{
			background: none;
			width: auto;
			li{
				&:after{
					content: ' ';
					position: absolute;
					right: 0;
					height: 15px;
					width: 1px;
					background: #505050;
					top: 8px;

				}
				&:last-child{
					&:after{
						width: 0;
					}
				}
				&:hover, &.active{
					a{
						text-decoration: underline;
					}
				}

				a{
					width: auto;
					background: none;
					padding: 5px 15px;
				}
			}
			
		}
		.ptitle{
			font-size: 22px;
			max-width: calc(100% - 100px - 150px);
			//line-height: 1;
			font-weight: 600;
		    word-wrap: break-word;
		}
		dd{
			font-size: 17px;
		}
		.ver-section{
			font-size: 16px;
			color: #5b5b5b;
			span{
				padding-top: 5px;

				&:last-child{
					padding-top: 0;
				}
			}
		}
		.dtl-section{
			

			.footer-list{
				li{
					dd{
						font-size: 14px;

						a{
							&:hover{
								text-decoration: underline;
							}
						}
						&:first-child{
							font-size: 12px;
						}
					}
				}
			}

		}
		.article-container{
			font-size: 16px;
			p{
				margin: 0;
			}
			.section-heading{
				color: #5b5b5b;
				text-transform: uppercase;
				padding-bottom: 5px;
			}
			.remove-padding{
				padding: 0;
			}

			.right-drop-panel{
				margin-bottom: 20px;
				border: 1px solid #5b5b5b;
				min-height: 40px;
				padding-bottom: 5px;
				.panel-default{
					border-color: transparent;
					background: none;
					box-shadow: none;
					.panel-heading{
						background: none;
						color: #9a9a9a;
						border: none;
						padding: 10px 15px 5px 15px;
						a{
							text-decoration: none;

							&:hover{
								text-decoration: underline;
							}
						}
						.arrow-col{
							.arr-holder{
								&:after{
									
									content: "\f0d7";
									font-family: 'FontAwesome';
									width: 10px;
									display: inline-block;
								}
							}
						}
						.arrow-col.collapsed{
							.arr-holder{
								&:after{
									
									content: "\f0da" !important;
									font-family: 'FontAwesome';
									width: 10px;
									display: inline-block;
								}
							}
						}
					}
				}
				.panel-collapse{
					.list-group{
						border: none;
						.list-group-item{
							background: none;
							color: #9a9a9a;
							border: none;
							padding: 0 0 0 30px;
							.arr-holder{
								&:after{
									
									content: "\f0da" !important;
									font-family: 'FontAwesome';
									width: 10px;
									display: inline-block;
								}
							}
						}
					}
				}
			}
		}
		.desc-img-section{
			height: 170px;
			margin-top: 10px;
			.img-big-section{
				display: inline-block;
				float: left;
				img{
					height: 170px;
					width: 170px;
					margin-right: 20px;
				}
			}
			.img-small-section{
				display: inline-block;
				height: 170px;
				width: 70px;
				img{
					height: 70px;
					width: 70px;

					&:last-child{
						margin-top: 30px;
					}
				}
			}
		}

	}
}

@media (max-width: 990px) { 
	#content{
		background: #000;
	}
	.container-fluid{
		padding-left: 5px;
		padding-right: 5px;
	}
	.navbar{
		min-height: 40px;
		margin-bottom: 0;
		background: #212221;
		.navbar-floating{
			position: absolute;
			z-index: 111;
			top: 0;
			left: -5px;
			height: 92vh;
			width: calc(100% + 10px);
			background: rgba(33,33,33, 0.9);
			padding: 100px 30px !important;
			.nav-tabs{
				border: 2px solid #393939;
			}
			.btn-menu-close{
				position: absolute;
				top: 20px;
				left: 43%;
				font-size: 60px;
				background: none;
				border: none;
				color: #727272;
				font-weight: 300;
				outline: none;

				&:focus{
					outline:none;
				}
			}
			li{
				width: 100%;
				text-align: center;

				a{
					padding: 10px 15px;
					background: #252625;
					color: #fff;


				}

				&.active{
					a{
						background: #252625;
						color: #fff;
						border: none;
					}
				}
				&:after{
					content: ' ';
					position: absolute;
					width: 80%;
					height: 1px;
					background: #000;
					bottom: 0;
					left: 10%;
				}

				&:last-child{
					&:after{
						height: 0;
					}
				}
			}
		}
	}
	.search-list-panel{
		    height: 71vh !important;
		}
	.search-component{

		.btn-download{
			width: 90px;
		}
		.search-left-panel{
			background-color: #000;
			padding: 0;
			.search-input-group{
				margin-top: 2px;
				margin-bottom: 5px;
				.input-group{
					margin-bottom: 2px;

					 .btn-show{
						margin-left: 20px;
						width: calc(100% - 20px);
					 }
				}
			} 

			.searchpanel{
				.left-panel-title{
					max-width: calc(100% - 100px - 90px);
				}
				ul{
					.listdisplay{
						min-height: 100px;
					}
				}
			}
		}

		.search-right-panel{
			position: relative;
			.nav-pills{
				float: left !important;
				li{
					a{
						padding: 5px 10px;
						

						
					}
					&:first-child{
							a{
								padding-left: 0;
							}
						}
				}
			} 
			.ptitle{
				max-width: 100%;
				margin-top: 10px;
			    font-weight: 600;
		        word-wrap: break-word;
			}
			.ver-section{
				position: inherit;

				.mob-check{
					position: absolute;
					right: 0;
					top: 80px;

					label{
						letter-spacing: -0.5px;
						font-size: 14px;
					}
					.checkbox-custom + .checkbox-custom-label:before{
						margin-right: 5px;
					}
				}
				.mob-down{
					position: absolute;
					right: 0;
					top: 45px;
					a{
						width: 120px;
						
					}
				}
			}
			.right-panel-title{
				max-width: calc(100% - 125px);
			}
			.dtl-section{
				.footer-list{
					.mob-date{
						font-size: 12px;
					}
				}
			}

			.desc-img-section{
				white-space:nowrap; 
				overflow: scroll;
				.pic-row{
					width: 500px;
				}
				
			} 
		}
		.search-right-panel-mob{
			background: rgba(0,0,0,0.8);
			position: absolute;
			top: 80px;
			left: 0;
			width: 100%;
			z-index: 2;
			height: 85%;

			.close-r-panel{
				height: 100%;
				width: 100%;
				background: transparent;
				display: block;
				position: absolute;
				left: 0;

				&:after{
					content: '×';
					position: absolute;
					color: #e2e2e2;
					font-size: 20px;
					font-weight: 300;
					position: absolute;
					top: 10px;
					right: 20px;
					z-index: 1;
				}
			}

			.search-right-panel-inner-mob{
				background: #3a3a3a;
				height: 99%;
				overflow: scroll;
				top: 1%;
				width: 104%;
				margin-left: -2%;
			}
		}
	}


}
