<div class="container-fluid search-component">
		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href="#"><h4>Explore Packages</h4></a></li>
		  <li role="presentation"><a href="#"><h4>Explore Authors</h4></a></li>
		  <li role="presentation"><a href="#"><h4>My Packages</h4></a></li>
		  <li role="presentation"><a href="#"><h4>Publish</h4></a></li>
		</ul>
		<div class="col-lg-5 search-left-panel">


			<div class="row search-input-group">
				<div class="input-group col-lg-12 col-md-12">
					<input #searchtext (keyup)="onKey(searchtext.value)" placeholder="&#xf002; &nbsp; SEARCH PACKAGES" class="form-control search-box" >
				</div>
				<div class="searchpanel pull-left" style="position: absolute; width: 100%; z-index: 3; max-height: 200px; height: auto; overflow-y:auto; background-color: #585858;" [hidden]="isShow">
					<ul style="margin:0px; padding: 0px; list-style: none; width: inherit;">
						<li *ngFor="#sl of searchresponsedata | orderBy:[predicate]" role="button" style="width: inherit;" class="listdisplay pull-left"  (click)="getanassets($event, sl.asset_id)">
							<span style="box-sizing:border-box;">
									<dd style="color: #fff;"> {{ sl.asset_name | lowercase }} </dd>
							</span>
						</li>
					</ul>
				</div>
				<div class="input-group col-lg-4 col-md-4 pull-left">
					<span (click)="sortOrder($event, '+asset_name')" role="button" class="form-control">
							SORT BY <small class="fa fa-sort-desc" [ngClass]="{'fa-sort-asc': isOn}"> </small>
					</span>

				</div>
				<div class="input-group col-lg-8 col-md-8">
					<span role="button" class="form-control btn-show">
							SHOW <small class="fa fa-sort-desc"> </small>
					</span>
				</div>
			</div>

			<div class="row" style="height:62vh; overflow-y:auto;" data-role="search-list-panel">
				<div class="searchpanel pull-left" style="width:100%">
					<ul>
						<li *ngFor="#a of assetsList | orderBy:[predicate]" role="button" style="width: inherit;" class="listdisplay pull-left pkg-item" (click)="getanassets($event, a.asset_id)">

							<span style="box-sizing:border-box;">
								<div class="asset-content col-md-12 col-lg-12">
									<span class="pull-left" >
										<img src="https://static.spark.autodesk.com/{{ a.asset_image}}" alt="">
									</span>
									<div class="pull-left">
										<dd class="ptitle"><strong> {{ a.asset_name }} </strong></dd>
										<dd><i><span>12345</span>&nbsp;|&nbsp;<span>{{ a.artist_name}}</span></i></dd>
										<dd><i>Group name</i></dd>
									</div>
									<div class="pull-right">
										<a href="javascript:void(0);" class="btn btn-default btn-download">Download</a>

									</div>
								</div>
								<div class="asset-footer col-md-12 col-lg-12">
									<ul class="footer-list">
										<li class="col-md-4 col-lg-4 text-left">
											<dd>Likes:</dd>
											<dd><i class="fa fa-thumbs-up"></i> {{ a.favorite_count }}</dd>
										<li>
										<li class="col-md-4 col-lg-4">
											<dd>Downloads:</dd>
											<dd><i class="fa fa-download"></i> {{ a.favorite_count }}</dd>
										<li>
										<li class="col-md-4 col-lg-4">
											<dd>Updated:</dd>
											<dd><i class="fa fa-clock-o"></i> {{ a.favorite_count }}&nbsp;days ago</dd>
										<li>
									</ul>


								</div>
							</span>
						</li>
					</ul>
					<loading-mask [hidden]="loadSpiner"></loading-mask>
				</div>
			</div>

		</div>


		<div class="col-lg-7" style="height:78vh; overflow-y:auto; background:#333; display:flex;">
			<div style="color: #fff; padding: 5px;" class="row">
				<ul style="margin:0px; padding: 0px; list-style: none;">
					<li *ngIf="singleList">
						<section>
							<dd class="lead"> {{ singleList.asset_name | uppercase }} </dd>
							<dd class="small"> {{ singleList.asset_id }} {{ singleList.artist.artist_name }} </dd>
							<dd class="small">Assets version: {{ singleList.asset_version }}</dd>
						</section>

						<p>
								<i class="fa fa-thumbs-up" style="color: #BC6161;"></i> {{ singleList.favorite_count }}
						</p>
						<p>
							Dependencies:
							<span *ngFor="#depend of singleList.file_formats">{{ depend.name | uppercase }}, </span>
						</p>
						<p>
							<span class="text-uppercase"> Submit Ratings:</span>
							<span>
								<i class="fa fa-heart-o"></i>
								<i class="fa fa-heart-o"></i>
								<i class="fa fa-heart-o"></i>
								<i class="fa fa-heart-o"></i>
								<i class="fa fa-heart-o"></i>
							</span>
						</p>
						<span>Description</span>
						<article>
							<p>{{ singleList.description}}
							Now Built for Dynamo 0.9** LunchBox is a collection of reusable geometry and data management nodes. The tools have been tested with Dynamo 0.9 and Revit 2016. The tool includes nodes for surface paneling, geometry, Revit data collection, and more!. After installation, search a 'LunchBox' category will appear in Dynamo. For versions compatible with Dynamo 0.6, please install version 2014.6.5 or earlier. For more information
						</p>
						</article>
						<section class="col-sm-12 col-md-12 col-lg-12">
							<div class="row" style="display:flex; height:200px;">
									<div class="col-md-3" style="flex:1; border:1px solid #737373"> </div>
									<div class="col-md-3" style="flex:1; border:1px solid #737373; border-left:none;  border-right:none;"> </div>
									<div class="col-md-3" style="flex:1; border:1px solid #737373">
										<div class="col-md-12"> </div>
										<div class="col-md-12"> </div>
									</div>
							</div>
						</section>
					</li>
				</ul>
				<loading-mask [hidden]="assetloadSpiner"></loading-mask>
			</div>
		</div>
	</div>
