<div class="container-fluid publish-component">
	<nav class="navbar nav-tabs">
	    <div class="navbar-header page-scroll">
	        
	        <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a href="#" class="navbar-toggle pull-left" data-toggle="collapse">Explore Packages</a>
	        
	    </div>
	    <div class="collapse navbar-collapse navbar-floating" id="bs-example-navbar-collapse-1">
	        <button type="button" class="btn-menu-close hidden-md hidden-lg" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >&#215;</button>
	        <ul class="nav nav-tabs">
	            <li class="hidden-md hidden-lg">
	                <a href="#"><h4>Home</h4></a>
	            </li>
	            <li>
	                <a [routerLink]="['Assets']"><h4>Explore Packages</h4></a>
	            </li>
	            <li>
	                <a class="#"><h4>Explore Authors</h4></a>
	            </li>
	            <li>
	                <a href="#"><h4>My Packages</h4></a>
	            </li>
	            <li class="active">
	                <a [routerLink]="['Publish']"><h4>Publish</h4></a>
	            </li>
	        </ul>
	    </div>
	</nav>
	<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 publish-left-container">
		<form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-2 col-md-2 text-right"><input type="file" id="myFile" class="logo-holder"></label>
                <div class="input-label-group">
                	
                    <span class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    	<span class="input-title-text small-box text-hidden">Package Name</span><input type="text" class="form-control logo-width-adjust" placeholder="Package name*" [(ngModel)]="formelement.asset_name"></span>
                </div>
                <div >
                	<span class="col-lg-8 col-md-8 col-sm-12 col-xs-12 logo-text-width add-margin-top">Author name</span>
                    <span class="col-lg-8 col-md-8 col-sm-12 col-xs-12"><input type="text" class="form-control logo-width-adjust add-author" placeholder="Other Authors" [(ngModel)]="formelement.tags"></span>
                    <span class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <button class="btn btn-default btn-pub-group btn-add">+ Add</button></span>
					<div class="col-lg-6 col-md-6 logo-text-width">
						<span class="tag label label-auth">
						  <span>Authors 01</span>
						  <a>&#215;</a> 
						</span>
						<span class="tag label label-auth">
						  <span>Authors 02</span>
						  <a>&#215;</a> 
						</span>
					</div>
                </div>
            </div>
            <div class="form-group">
                <div >
                    <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<span class="input-title-text text-hidden">Package Name</span>
                    	<textarea class="form-control" rows="8" placeholder="Description*" [(ngModel)]="formelement.description"></textarea></span>
                </div>
            </div>
            <div class="expand-col">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 coll-btn btn-add">
                	<a data-toggle="collapse" data-target="#more-opt" class="arrow-col collapsed"><span class="arr-holder"></span> Advanced Info</a>
                </span></div>

				<div id="more-opt" class="collapse more-info-container">
					<div class="form-group">
					<span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 scr-label">SCREENSHOTS:</span>
	                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 scr-holder">
		                    <div class="more-img-holder col-sm-12 col-xs-12">
							  <input type="file" id="myFile" class="logo-holder">
							  <span class="scr-sh-holder"></span>
							</div>
							<div class="more-img-holder hidden-sm hidden-xs">
							  <input type="file" id="myFile" class="logo-holder">
							  <span class="scr-sh-holder"></span>
							</div>
							<div class="more-img-holder hidden-sm hidden-xs">
							  <input type="file" id="myFile" class="logo-holder">
							</div>
							<div class="more-img-holder hidden-sm hidden-xs">
							  <input type="file" id="myFile" class="logo-holder">
							</div>
						</div>
	                </div>
	                <div class="form-group">
		                <div >
		                    <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                    	<span class="input-title-text text-hidden">Whats New:</span>
		                    	<textarea class="form-control" rows="8" placeholder="Whats New:" [(ngModel)]="formelement.description"></textarea>
		                    </span>
		                </div>
		            </div>
	                <div class="form-group">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<span class="input-title-text text-hidden">Works with:</span>
							<select class="form-control col-lg-10 col-md-10 col-sm-12 col-xs-12" id="sel1" placeholder="Works with:">
								<option>Works with: Choose Dynamo Version</option>
								<option>Version 01</option>
								<option>Version 02</option>
								<option>Version 03</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<span class="input-title-text text-hidden">Dependent packages:</span>
							<select class="form-control col-lg-10 col-md-10 col-sm-12 col-xs-12" id="sel1" placeholder="Dependent packages:">
								<option>Dependent packages: Search package</option>
								<option>Package 01</option>
								<option>Package 02</option>
								<option>Package 03</option>
							</select>
						</div>
					</div>
					<div class="form-group">
		                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                	<span class="input-title-text text-hidden">Known Issues</span>
		                    <textarea class="form-control" placeholder="Known Issues" rows="8"></textarea>
		                </div>
		            </div>
		            <div class="form-group">
	                    <span class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
	                    	<span class="input-title-text text-hidden">License:</span>
	                    	<input type="text" class="form-control" placeholder="License">
	                    </span>
		                <span class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
		                	<span class="input-title-text text-hidden">License link:</span>
		                	<input type="text" class="form-control" placeholder="License link">
		                </span>
		            </div>
		            <div class="form-group">
		                <div class="contact-boxes">
		                    <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
		                    	<span class="input-title-text text-hidden">Contact email:</span>
		                    	<input type="text" class="form-control" placeholder="Contact email">
		                    </span>
		                    <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
		                    	<span class="input-title-text text-hidden">Marketing URL:</span>
		                    	<input type="text" class="form-control" placeholder="Marketing URL">
		                    </span>
		                    <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
		                    	<span class="input-title-text text-hidden">Support URL:</span>
			                    <input type="text" class="form-control" placeholder="Support URL">
			                </span>
			                <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
			                	<span class="input-title-text text-hidden">Repository URL:</span>
								<input type="text" class="form-control" placeholder="Repository URL">
							</span>
		                </div>
		            </div>
				</div>
            </div>
            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                    <span class="col-lg-12 col-md-12"><button type="submit" class="btn btn-primary btn-pub-group btn-pub" (click)="publishPackage()">Publish</button></span>
                </div>
            </div>
        </form>
	</div>
	<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 publish-right-container">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
			<h4>Package files</h4>
			<p>[Explanation about what the user needs include here]<br>Lorem ipsum dolor sit amet consectuter.</p>
			

			<ul>
				<li>
					<span class="del-btn"><a href=""><i class="fa fa-minus-circle " aria-hidden="true"></i></a></span>
					<span><span class="li-icon"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>CustomNodeName1.dyf</span> 
				</li>
				<li>
					<span class="del-btn"><a href=""><i class="fa fa-minus-circle " aria-hidden="true"></i></a></span>
					<span><span class="li-icon"><i class="fa fa-calendar-o" aria-hidden="true"></i></span> CustomNodeName1.dyf</span> 
				</li>
				<li>
					<span class="del-btn"><a href=""><i class="fa fa-minus-circle " aria-hidden="true"></i></a></span>
					<span><span class="li-icon"><i class="fa fa-cog" aria-hidden="true"></i></span> myDLLNAME1.dll</span> 
				</li>
			</ul>

			<span class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center btn-add-files"><button class="btn btn-default btn-pub-group">Add files</button></span>
		</div>
	</div>
</div>