<div class="container-fluid publish-component">
	<nav class="navbar nav-tabs">
	    <div class="navbar-header page-scroll">
	        
	        <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a href="#" class="navbar-toggle pull-left" data-toggle="collapse">Explore Packages</a>
	        
	    </div>
	    <div class="collapse navbar-collapse navbar-floating" id="bs-example-navbar-collapse-1">
	        <button type="button" class="btn-menu-close hidden-md hidden-lg" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >&#215;</button>
	        <ul class="nav nav-tabs">
	            <li class="hidden-md hidden-lg">
	                <a href="#"><h4>Home</h4></a>
	            </li>
	            <li>
	                <a href="#"><h4>Explore Packages</h4></a>
	            </li>
	            <li>
	                <a class="#"><h4>Explore Authors</h4></a>
	            </li>
	            <li>
	                <a href="#"><h4>My Packages</h4></a>
	            </li>
	            <li class="active">
	                <a class="" href="#"><h4>Publish</h4></a>
	            </li>
	        </ul>
	    </div>
	</nav>
	<div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 publish-left-container">
		<form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-2 col-md-2 control-label" > </label>
                <div class="col-lg-10">
                    <span class="col-lg-10 col-md-10"><input type="text" class="form-control" placeholder="Package name"></span>
                    <span class="col-lg-12 col-md-12">Author name</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Others authors</label>
                <div class="col-lg-10 col-md-10">
                    <span class="col-lg-10 col-md-10"><input type="text" class="form-control" placeholder="Name"></span>
                    <span class="col-lg-2 col-md-2">
                    <button class="btn btn-default">+ Add</button></span>
					<span class="col-lg-12 col-md-12">Author name added</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 control-label">Descriptions</label>
                <div class="col-lg-10">
                    <span class="col-lg-12 col-md-12"><textarea class="form-control" placeholder="Description of what your package does."></textarea></span>
                </div>
            </div>
            <div class="expand-col col-lg-12 col-md-12">
                <button data-toggle="collapse" data-target="#more-opt">+ Add more options (Optional...)</button>

				<div id="more-opt" class="collapse col-lg-12 col-md-12">
					<div class="form-group">
	                <label class="col-lg-2 col-md-2 control-label">Screenshots</label>
	                <div class="col-lg-10">
		                    <div class="panel panel-default col-md-3 col-lg-3">
							  <div class="panel-body">
							    +
							  </div>
							</div>
							<div class="panel panel-default col-md-3 col-lg-3">
							  <div class="panel-body">
							    +
							  </div>
							</div>
							<div class="panel panel-default col-md-3 col-lg-3">
							  <div class="panel-body">
							    +
							  </div>
							</div>
							<div class="panel panel-default col-md-3 col-lg-3">
							  <div class="panel-body">
							    +
							  </div>
							</div>
						</div>
	                </div>
	                <div class="form-group">
						<label for="sel1" class="col-lg-2 col-md-2 control-label">Works with:</label>
						<div class="col-lg-10 col-md-10">
							<select class="form-control col-lg-10 col-md-10" id="sel1">
								<option>Choose Dynamo Version</option>
								<option>Version 01</option>
								<option>Version 02</option>
								<option>Version 03</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="sel1" class="col-lg-2 col-md-2 control-label">Dependent packages:</label>
						<div class="col-lg-8 col-md-8">
							<select class="form-control col-lg-10 col-md-10" id="sel1">
								<option>Search package</option>
								<option>Package 01</option>
								<option>Package 02</option>
								<option>Package 03</option>
							</select>
						</div>
						<span class="col-lg-2 col-md-2">
							<button class="btn btn-default">+ Add</button>
						</span>
					</div>
					<div class="form-group">
		                <label class="col-lg-2 col-md-2 control-label">Known issues</label>
		                <div class="col-lg-10">
		                    <textarea class="form-control" placeholder="List of known defects"></textarea>
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-lg-2 col-md-2 control-label">License</label>
	                    <span class="col-lg-4 col-md-4"><input type="text" class="form-control" placeholder="License"></span>
		                <span class="col-lg-6 col-md-6"><input type="text" class="form-control" placeholder="License link"></span>
		            </div>
		            <div class="form-group">
		                <label class="col-lg-2 col-md-2 control-label">Contact</label>
		                <div class="col-lg-10">
		                    <input type="text" class="form-control" placeholder="Contact email">
		                    <input type="text" class="form-control" placeholder="Marketing URL">
		                    <input type="text" class="form-control" placeholder="Support URL">
							<input type="text" class="form-control" placeholder="Repository URL">
		                </div>
		            </div>
				</div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <span class="col-lg-10 col-md-10"><button type="submit" class="btn btn-default">Publish</button></span>
                </div>
            </div>
        </form>
	</div>
	<div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 publish-right-container">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
			<h4>Package files</h4>
			<p>[Explanation about what the user needs include here]<br>Lorem ipsum dolor sit amet consectuter.</p>
			

			<ul>
				<li>
					<span><a href=""><i class="fa fa-minus-circle " aria-hidden="true"></i></a></span>
					<span><i class="fa fa-calendar-o" aria-hidden="true"></i>CustomNodeName1.dyf</span> 
				</li>
				<li>
					<span><a href=""><i class="fa fa-minus-circle " aria-hidden="true"></i></a></span>
					<span><i class="fa fa-calendar-o" aria-hidden="true"></i>CustomNodeName1.dyf</span> 
				</li>
				<li>
					<span><a href=""><i class="fa fa-minus-circle " aria-hidden="true"></i></a></span>
					<span><i class="fa fa-cog" aria-hidden="true"></i>myDLLNAME1.dll</span> 
				</li>
			</ul>

			<button class="btn btn-default ">Add files</button>
		</div>
	</div>
</div>