<div class="container-fluid publish-component">
	<navigation></navigation>
	<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 publish-left-container">

		<form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-2 col-md-2 text-right logo-label-container">
					<input type="file" name="file" id="addlogo" class="inputfile" (change)="commonclass.readURL($event,'logoimg')">
					<img id="logoimg" />
					<label for="addlogo" class="file-upload-holder">Add logo</label>
				</label>
                <div class="input-label-group">
                	
                    <span class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    	<span class="input-title-text logo-text-width ">Package Name</span>
						<input type="text" class="form-control logo-width-adjust" placeholder="Package name*" [(ngModel)]="assetsobject.asset_name"></span>
                </div>
                <div >
                	<span class="col-lg-8 col-md-8 col-sm-12 col-xs-12 logo-text-width add-margin-top">Author name</span>
                    <span class="col-lg-8 col-md-8 col-sm-12 col-xs-12"><input type="text" class="form-control logo-width-adjust add-author" placeholder="Other Authors" [(ngModel)]="assetsobject.tags"></span>
                    <span class="col-lg-2 col-md-2 col-sm-12 col-xs-12">

                    <button class="btn btn-default btn-pub-group btn-add hidden">+ Add</button></span>
					<div class="col-lg-6 col-md-6 logo-text-width hidden">
						<span class="tag label label-auth">
						  <span>Authors 01</span>
						  <a>&#215;</a> 
						</span>
						<span class="tag label label-auth">
						  <span>Authors 02</span>
						  <a>&#215;</a> 
						</span>
					</div>
                </div>
            </div>
            <div class="form-group">
                <div >
                    <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<span class="input-title-text text-hidden" >Package Name</span>
                    	<textarea class="form-control" rows="8" placeholder="Description*" [(ngModel)]="assetsobject.description"></textarea></span>
                </div>
            </div>
            <div class="expand-col">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 coll-btn btn-add">
                	<a data-toggle="collapse" data-target="#more-opt" class="arrow-col collapsed"><span class="arr-holder"></span> Advanced Info</a>
                </span></div>

				<div id="more-opt" class="collapse more-info-container">
					<div class="form-group">
					<span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 scr-label">SCREENSHOTS:</span>
	                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 scr-holder">
		                    <div class="more-img-holder col-sm-12 col-xs-12 mob-scrsht-holder">
							  <input type="file" name="file" id="file" class="inputfile" (change)="commonclass.readURL($event,'firstimg')"/>
								<label for="file" class="file-upload-holder">+</label>
							  <img id="firstimg" class="scr-sh-holder" />
							</div>
							<div class="more-img-holder hidden-sm hidden-xs">
							  <input type="file" name="file" id="file2" class="inputfile" (change)="commonclass.readURL($event,'secondimg')"/>
								<label for="file2" class="file-upload-holder">+</label>
							  <img id="secondimg" class="scr-sh-holder" />
							</div>
							<div class="more-img-holder hidden-sm hidden-xs">
							  <input type="file" name="file" id="file3" class="inputfile" (change)="commonclass.readURL($event,'thirdimg')"/>
								<label for="file3" class="file-upload-holder">+</label>
							  <img id="thirdimg" class="scr-sh-holder" />
							</div>
							<div class="more-img-holder hidden-sm hidden-xs">
							  <input type="file" name="file" id="file4" class="inputfile" (change)="commonclass.readURL($event,'fourthimg')"/>
								<label for="file4" class="file-upload-holder">+</label>
							  <img id="fourthimg" class="scr-sh-holder" />
							</div>
						</div>
	                </div>
	                <div class="form-group">
		                <div >
		                    <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                    	<span class="input-title-text text-hidden">Whats New:</span>
		                    	<textarea class="form-control" rows="8" placeholder="Whats New:"></textarea>
		                    </span>
		                </div>
		            </div>
	                <div class="form-group">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<span class="input-title-text text-hidden">Works with:</span>
							<select class="form-control col-lg-10 col-md-10 col-sm-12 col-xs-12" placeholder="Works with:">
								<option>Works with: Choose Dynamo Version</option>
								<option>Version 01</option>
								<option>Version 02</option>
								<option>Version 03</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<span class="input-title-text text-hidden">Dependent packages:</span>
							<select class="form-control col-lg-10 col-md-10 col-sm-12 col-xs-12" id="sel1" placeholder="Dependent packages:">
								<option>Dependent packages: Search package</option>
								<option>Package 01</option>
								<option>Package 02</option>
								<option>Package 03</option>
							</select>
						</div>
					</div>
					<div class="form-group">
		                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                	<span class="input-title-text text-hidden">Known Issues</span>
		                    <textarea class="form-control" placeholder="Known Issues" rows="8"></textarea>
		                </div>
		            </div>
		            <div class="form-group">
	                    <span class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
	                    	<span class="input-title-text text-hidden">License:</span>
	                    	<input type="text" class="form-control mob-form-group" placeholder="License">
	                    </span>
		                <span class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
		                	<span class="input-title-text text-hidden">License link:</span>
		                	<input type="text" class="form-control" placeholder="License link">
		                </span>
		            </div>
		            <div class="form-group">
		                <div class="contact-boxes">
		                    <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                    	<span class="input-title-text text-hidden">Contact email:</span>
		                    	<input type="text" class="form-control ex-remove-space" placeholder="Contact email">
		                    </span>
		                    <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
		                    	<span class="input-title-text text-hidden">Marketing URL:</span>
		                    	<input type="text" class="form-control" placeholder="Marketing URL">
		                    </span>
		                    <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
		                    	<span class="input-title-text text-hidden">Support URL:</span>
			                    <input type="text" class="form-control" placeholder="Support URL">
			                </span>
			                <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
			                	<span class="input-title-text text-hidden">Repository URL:</span>
								<input type="text" class="form-control" placeholder="Repository URL">
							</span>
		                </div>
		            </div>
				</div>
            </div>
            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                    <span class="col-lg-12 col-md-12"><button type="submit" class="btn btn-primary btn-pub-group btn-pub mob-btn-pub" (click)="publishPackage()">Publish</button></span>
                </div>
            </div>
        </form>
	</div>
	<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 publish-right-container">
		<div class="">
			<h4>Package files:</h4>
			<p>Explanation about what the user needs include here.</p>
			<ul>
				<li>
					<span class="del-btn"><a href=""><i class="fa fa-minus-circle " aria-hidden="true"></i></a></span>
					<span><span class="li-icon"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>CustomNodeName1.dyf</span> 
				</li>
				<li>
					<span class="del-btn"><a href=""><i class="fa fa-minus-circle " aria-hidden="true"></i></a></span>
					<span><span class="li-icon"><i class="fa fa-calendar-o" aria-hidden="true"></i></span> CustomNodeName1.dyf</span> 
				</li>
				<li>
					<span class="del-btn"><a href=""><i class="fa fa-minus-circle " aria-hidden="true"></i></a></span>
					<span><span class="li-icon"><i class="fa fa-cog" aria-hidden="true"></i></span> myDLLNAME1.dll</span> 
				</li>
			</ul>

			<span class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center btn-add-files">
				<div class="more-img-holder hidden-sm hidden-xs">
					<input type="file" class="logo-holder"  placeholder="Add files" (change)="filePath($event)">
				</div>
			</span>
		</div>
	</div>
	
	<loading-mask [hidden]="_publishloadSpiner"></loading-mask>
	
</div>