<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-floating" id="bs-example-navbar-collapse-1">
	<ul class="nav nav-tabs">
		<li class="hidden-md hidden-lg">
			<a [routerLink]="['Home']"><h4>Home</h4></a>
		</li>
		<li class="active">
			<a [routerLink]="['Assets']"><h4>Explore Packages</h4></a>
		</li>
		<li>
			<a href="#"><h4>Explore Authors</h4></a>
		</li>
		<li>
			<a href="#"><h4>My Packages</h4></a>
		</li>
		<li>
			<a [routerLink]="['Publish']"><h4>Publish</h4></a>
		</li>
	</ul>
</div>
<!-- /.navbar-collapse -->
<router-outlet></router-outlet>