@font-face{
	font-family: 'http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.woff2'
}

a, a:hover{color:#999; text-decoreation:none;}
/* Sticky footer styles-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
/*body {
   Margin bottom by footer height
  margin-bottom: 60px;
  background: rgba(255,255,255,1);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here
  height: 60px;

  background-color: #eeeeee;
	.verticalmiddle{
		display: table;
		height: inherit;

		.tabel-cell{
			display: table-cell;
			vertical-align: middle;
			height: inherit;
		}
	}
}*/

$heder-height: 40px;
$footer-height: 20px;
$content-height: (#{$heder-height} - #{$footer-height});

html { height: 100%; }
body {
    position: relative;
    min-height: 100%; /* to fill screen 100% even with less content */
    height: 100%; /* to allocate only 100% height */
}
#header {
    height: 40px;
    background-color: #333;
    top: 0;
    color:#fff;
}
#footer {
    height: 20px;
    background-color: #464646;
    width: 100%;
    color:#7B7B7B;
}
#content {
    /* allocate the remaining width except the header + footer + borders */
    height: calc(100% - #{$content-height});
    overflow-y: auto;
    background-color: #212121;
}
