@font-face{
  font-family: 'http://getbootstrap.com/build/fonts/glyphicons-halflings-regular.woff2'
}
@font-face {
    font-family: 'icomoon';
    src:    url('../../../src/fonts/icomoon.eot?a56i2f');
    src:    url('../../../src/fonts/icomoon.eot?a56i2f#iefix') format('embedded-opentype'),
        url('../../../src/fonts/icomoon.ttf?a56i2f') format('truetype'),
        url('../../../src/fonts/icomoon.woff?a56i2f') format('woff'),
        url('../../../src/fonts/icomoon.svg?a56i2f#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Downloads{
  vertical-align: middle;
  &:before {
    content: "\e900";
    font-size: 16px;
    color: #7a7a7a;
  }
}
.icon-LastUpdated{
  vertical-align: middle;
  &:before {
    content: "\e901";
    font-size: 16px;
    color: #7a7a7a;
  }
}
.icon-Like{
  vertical-align: middle;
  &:before {
    content: "\e902";
    font-size: 16px;
    color: #7a7a7a;
  }
}
a, a:hover{color:#999; text-decoreation:none;}
/* Sticky footer styles-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-family: 'Open Sans'
}
/*body {
   Margin bottom by footer height
  margin-bottom: 60px;
  background: rgba(255,255,255,1);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here
  height: 60px;

  background-color: #eeeeee;
  .verticalmiddle{
    display: table;
    height: inherit;

    .tabel-cell{
      display: table-cell;
      vertical-align: middle;
      height: inherit;
    }
  }
}*/

$heder-height: 40px;
$footer-height: 20px;
$content-height: (#{$heder-height} - #{$footer-height});

html { height: 100%; }
body {
    position: relative;
    min-height: 100%; /* to fill screen 100% even with less content */
    height: 100%; /* to allocate only 100% height */
}
#header {
    height: 40px;
    background-color: #333;
    top: 0;
    color:#fff;
}
#footer {
    height: 20px;
    background-color: #464646;
    width: 100%;
    color:#7B7B7B;
}
#content {
    /* allocate the remaining width except the header + footer + borders */
    height: calc(100% - #{$content-height});
    overflow-y: auto;
    background-color: #212121;
    font-family: Open Sans;
}

.input-group{
  
  ::-webkit-input-placeholder {
     color: #4b4b4b;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: #4b4b4b;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: #4b4b4b;  
  }

  :-ms-input-placeholder {  
     color: #4b4b4b;  
  }

}
.form-control{
    background-color: #252525;
    border-color: #404040;
    color: #aaaaaa;
    border-radius: 0;
    font-size: 16px;
    height: 40px;
    padding: 10px 15px;
    &:focus{
      box-shadow: none;
      border-color: #555;
    }
    
  }
html, body { width:100%;  overflow:hidden; }